.icon {
    fill: transparent;
}

.close {
    color: black;
}

.social-media {
    fill: black;
    cursor: pointer;

    &.icon-instagram {
        &:hover {
            fill: rgb(255, 135, 155);
        }
    }
    &.icon-linkedin {
        &:hover {
            fill: rgb(173, 173, 255);
        }
    }
    &.icon-github {
        &:hover {
            fill: rgb(255, 0, 238);
        }
    }
    &.icon-tiktok {
        &:hover {
            fill: rgb(255, 238, 47);
        }
    }
}

.icon-carrinho {
  transition: 0.3s fill ease-in-out;
  &:hover {
    fill: rgb(170, 170, 255);
  }
}

.icon-coracao {
  transition: 0.3s fill;
  &:hover {
    fill: rgb(255, 100, 100);
  }
}
