
.img-container {
    z-index: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
  cursor: pointer;

  svg {
    z-index: 1;
    position: absolute;
    left: 50%;
    opacity: 0;
    color: rgb(255, 132, 132);
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity ease-in-out .3s;
  }
  

  img {
    z-index: 0;
    transition: .3s all ease-in-out;
  }

  &:hover {
    img {
      filter: brightness(.4);
    }

    svg {
        opacity: 1;
    }
  }
}
