@import "../../../utilities/variables.scss";

section.sideContent-container {
    position: absolute;
    z-index: 3;
    
    div {
        transition: all .5s ease-in-out;
    }
    
    div.overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        height: 100%;
    }
    
    div.sideContent {
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        max-width: 600px;
        min-width: 200px;
        background-color: white;
        height: 100%;
        opacity: 0;
        transform: translate(100%);

        &.open {
            transform: translate(0);
            opacity: 1;
        }

        .close {
            cursor: pointer;
            position: fixed;
            top: 10px;
            right: 10px;

            &:hover {
                color: red;
            }
        }

        span.empty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            font-weight: 600;
            color: gray;
            text-align: center;
            user-select: none;
        }
    }
}