@import "../../utilities/variables.scss";

footer {
  div.footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 0 20px;
    display: flex;

    div {
        padding-right: 10px;
    }

    div.logo-container {
      display: flex;
      width: 50%;
      margin: 0 auto;
      flex-direction: column;
      gap: 15px;
      span {
        font-weight: 500;
      }
      .icons {
        display: flex;
        gap: 10px;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .infos {
      width: 100%;
      display: flex;

      h1 {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        padding-bottom: 15px;
        text-wrap: nowrap;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 20%;
          background-color: $pink;
          height: 1px;
        }
      }

      div {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;

        a {
          transition: 0.2s color ease-in-out;
          &:hover {
            color: $pink;
          }
        }
      }
    }

    @media (width < 900px) {
      flex-direction: column;

      div.logo-container {
        align-items: center;
        margin-bottom: 25px;

        span {
            text-align: center;
        }
      }

      .infos {
        text-align: center;

        h1::after {
          left: 50%;
          transform: translate(-50%);
        }
      }
    }

    @media (width < 600px) {
      .infos {
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;
      }
    }
  }

  div.copy {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: rgb(222, 222, 222);
      height: 1px;
    }
  }
}
